body{
    font-family: "IBM Plex Sans";
}

.checkout-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    margin-top: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.rest-name{
    display: block;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.basket-table{
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}


th:first-child,
td:first-child {
    width: 80%;
}


th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

.basket-summary {
    margin-bottom: 20px;
}

.total-cost {
    font-weight: bold;
    margin-bottom: 20px;
}

.pay-button {
    background-color: #6ff950;
    border: 2px solid #1B1B1B;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px 32px 16px 16px;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
    width: 141px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
    transition: 0.16s ease-out;
    font-family: "Oswald";
}

.pay-button:hover {
    background: #5cff38;
    border: 4px solid #1B1B1B;
    box-shadow: 0px 0px 0px 4px #3a9320;
}

.baskets-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #9a9999;
    box-shadow: 0 0 10px #a4a6a6;
}

.address-section {
    margin-top: 20px;
}

.address-section label {
    margin-bottom: 10px;
    padding: 0;
}

.address-select {
    width: 100%;
    padding: 10px;
    border: 2px solid #1B1B1B;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

label {
    font-weight: 600;
    margin-top: 10px;
}

input {
    padding: 16px 24px;
    width: 100%;
    border: 2px solid #1B1B1B;
    border-radius: 16px;
    transition: 0.2s;
}

textarea:focus,
input:focus {
    outline: none;
    background: #59d93c;
    border: 3px solid #1B1B1B;
    border-radius: 16px;
}

.exp-cvc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.expiration,
.security {
    font-size: 0.75rem;
    width: 48%;
}

#submit {
    background-color: #39ef07;
    border: 2px solid #1B1B1B;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px 32px 16px 16px;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
    width: 141px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: 0.16s ease-out;
}

#submit:hover {
    background: #1faf07;
    border: 4px solid #1B1B1B;
    box-shadow: 0px 0px 0px 4px #bffabb;
}


body{
    background-color: lightgray;
    margin: 0;
}


.banner {
    background: white;
    top: 0;
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "IBM Plex Sans";
    padding: 10px 0 10px 0;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 22px;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 22px;
}

.left img {
    height: 60px;
}

.left p a {
    font-size: 120%;
    color: black;
    text-decoration: none;
    width: max-content;
    padding: 5px 10px;
    font-weight: 200;
}

.right p a {
    font-size: 120%;
    width: max-content;
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 12px;
    font-weight: 200;
}

.left p a:hover {
    color: gray;
}

.right p a:hover {
    background-color: gray;
}

.footer {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 13px;
    color: white;
    padding-bottom: 10px;
    padding-top: 5px;
}

.footer h2 {
    font-family: "Oswald";
    font-weight: 200;
}

.footer p {
    font-family: "IBM Plex Sans";
    font-weight: 100;
    letter-spacing: 1px;
}

#back-button a{
    background-color: #04aa6d;
    color: white;
    padding: 5px 12px;
    border-radius: 10px;
}
#back-button a:hover {
    background-color: #74d2af;
}