.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.name {
    font-size: 24px;
    margin-right: 10px;
}
.rating {
    font-size: 18px;
    color: #888;
}
.description {
    margin-bottom: 30px;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
    margin-right: 400px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    /*padding: 20px;*/
    font-size: 30px;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: relative;
    padding-top: 25%;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-item-footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    text-align: center;
}

.basket {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.basket-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.basket-items {
    overflow-y: auto;
    height: calc(100% - 40px); /* Reserve space for header */
}

.proceed-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%; /* Make the button expand to the full width of the basket */
    box-sizing: border-box; /* Include padding and border in the width */
}

.proceed-button:hover {
    background-color: #45a049; /* Darker shade for hover effect */
}

/* Adjust the height of basket items to make sure there is space for the button */
.basket-items {
    height: calc(100% - 100px); /* Adjust the value based on actual header and button height */
}