<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>P2P Online Delivery Platform - About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link rel="icon" href="/images/logo_ld_white_png.png"/>
        <link rel = "stylesheet" href="/css/about-us.css"/>
    </head>
    <body>
        <div class="banner">
            <div class="left">
                <img src="/images/logo_ld_png.png"><a target="_parent" href="home"></a></img>
                <p th:unless="${loggedInVendor}"><a target="_parent" href="home">Home</a></p>
                <p th:if="${loggedInVendor}"><a target="_parent" href="vendoradditems">Add Items</a></p> 
                <p th:if="${loggedInVendor}"><a target="_parent" href="vendoredititems">Edit Items</a></p>
                <p th:if="${loggedInVendor}"><a target="_parent" href="ordersForVendors">View Orders</a></p>
                <p><a target="_parent" href="about">About Us</a></p>
                <p th:unless="${loggedInVendor}"><a target="_parent" href="order">Order</a></p>
                <p><a target="_parent" href="contact">Contact</a></p>
            </div>
            <div class="right">
                <p><a target="_parent" href="vendorsignup" th:unless="${loggedIn}">Partner with us</a></p>
                <p><a target="_parent" href="login" th:unless="${loggedIn}">Login</a></p>
                <p><a target="_parent" href="customerlogin" th:unless="${loggedIn}">Sign up</a></p>
                <p><a target="_parent" href="profile" th:if="${loggedInUser}">Profile</a></p>
                <p><a target="_parent" href="vendorProfile" th:if="${loggedInVendor}">Profile</a></p>
            </div>
        </div>
        <div class="content-container">
            <h1 class="header">How to use the delivery service</h1>
            <div class="box">
                <ol class="list" type="1">
                    <li>Sign in if you have an account</li>
                    <li>Click on the order button in the banner</li>
                    <li>Select the desired menu item for the selected day</li>
                    <li>Once the order has been placed you will be given an email reciept.</li>
                    <li>As easy as that, your food is ordered and enjoy your healthy meal!</li>
                </ol>
            </div>

            <h1 class="header">Who are we?</h1>
            <div class="box">
                <p class="paragraph">We are a bunch of students from the University of Bristol who have created this website for the purpose of giving people a convenient and healthy option to food.</p>
            </div>

            <h1 class="header">Developers</h1>
            <div class="box">
                <ul class="Names">
                    <li>JP Ruiz</li>
                    <li>Anthony Price</li>
                    <li>Luke Trott</li>
                    <li>Jiahao Li</li>
                    <li>Hugh Kiggell</li>
                </ul>
            </div>
        </div>
        </div>
    </body>
</html>