<!DOCTYPE html>
<html>
<head>
    <title>Driver page</title>
    <link rel="stylesheet" type="text/css" href="/css/driver-main.css">
</head>
<body>

<!--<ul class="banner">
    <li><img src="/images/logo_ld_png.png"></li>
    <li class="active"><a target="_parent" href="vendor">Add Items</a></li>
    <li><a target="_parent" href="vendoritems">Edit Items</a></li>
    <li><a target="_parent" href="about">About Us</a></li>
    <li><a target="_parent" href="contact">Contact</a></li>
    <li class="right"><a target="_parent" href="driverProfile">Profile</a></li>
</ul>-->

<ul class="banner">
    <li><img src="/images/logo_ld_png.png"></li>
    <li class="active"><a target="_parent" href="home">Home</a></li>
    <li><a target="_parent" href="about">About Us</a></li>
    <li><a target="_parent" href="order">Order</a></li>
    <li><a target="_parent" href="contact">Contact</a></li>
    <li class="active right"><a target="_parent" href="driverProfile" th:if="${loggedIn}">Profile</a></li>
    <li class="right"><a target="_parent" href="login" th:unless="${loggedIn}">Login</a></li>
    <li class="right"><a target="_parent" href="customerlogin" th:unless="${loggedIn}">Sign up</a></li>
    <li class="right"><a target="_parent" href="restaurantlogin" th:unless="${loggedIn}">Partner with us</a></li>
</ul>

    <header>
        <h1>Driver</h1>
        <nav>
            <a href="#">main</a> | 
            <a href="#">Order history</a>
        </nav>
    </header>

    <section class="order-list">
        <div class="order-item">
            <h2>Order #1234</h2>
            <p>Restaurant: hamburger</p>
            <p>Address: Bristol</p>
            <button>Check the details</button>
        </div>
        <!-- Other order... -->
    </section>

    <section class="order-details">
        <h2>Order details</h2>
        <!-- Order details -->
    </section>

    <section class="map">
        <h2>Map localation</h2>
        <img src="../../../../../map.png" alt="Map location example">
    </section>

    <footer>
        <p>Copyright © Rider Delivery System</p>
    </footer>
</body>
</html>
