<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Pick Order Page</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo_ld_white_png.png"/>
    <link rel="stylesheet" href="/css/driver-main.css">
</head>
<body>

<div class="banner">
    <div class="left">
        <p><img src="/images/logo_ld_png.png"></p>
        <p><a target="_parent" href="driverMain">Home</a></p>
        <p><a target="_parent" href="ordersForDrivers">Available Orders</a></p>  
        <p><a target="_parent" href="collectionForDriver">My Orders</a></p>  
        <p><a target="_parent" href="contact">Contact</a></p>
    </div>  
    <div class="right">  
        <p><a target="_parent" href="driverProfile">Profile</a></p>
    </div>        
</div>

<div class="header">
    <h2>Driver Home Page</h2>
</div>  

<div class="partners">
    <div class="placeholder">
        <img src="/images/yu-hosoi-ViR3a0rx18w-unsplash.jpg" alt="partner-image"/>
        <p class="partner"><a target="_parent" href="ordersForDrivers">Available Orders</a></p>
    </div>
    <div class="placeholder">
        <img src="/images/rowan-freeman-clYlmCaQbzY-unsplash.jpg" alt="partner-image"/>
        <p class="partner"><a target="_parent" href="collectionForDriver">My Orders</a></p>
    </div>
</div>

<script src="/JavaScript/orderForDrivers.js" defer></script>

<div class="footer">
    <h2>P2P Online Delivery System</h2>
    <p>info@fakemail.co.uk</p>
</div>
</body>
</html>