<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>driver pick order page</title>
    <link rel="stylesheet" href="/css/driver-main.css">
</head>
<body>

<ul class="banner">
    <li><img src="/images/logo_ld_png.png"></li>
    <li class="active"><a target="_parent" href="driverMain">Home</a></li>
    <li><a target="_parent" href="about">About Us</a></li>
    <li><a target="_parent" href="contact">Contact</a></li>
    <li class="active right"><a target="_parent" href="driverProfile" th:if="${loggedIn}">Profile</a></li>
</ul>

<h1>waiting list</h1>

<div class="grid-container"></div>

<button id="loadMoreButton">Load More Orders</button>

<button id="viewBasketsButton">View Baskets</button>

<div id="basketsDropdown" style="display:none;">
</div>

<script src="/JavaScript/orderForDrivers.js" defer></script>

    <footer>
     <p>Copyright © Online Delivery System</p>
    </footer>
</body>
</html>