<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Details</title>
    <link rel="stylesheet" href="/css/edit-details.css">
</head>
<body>
<div id="edit-container">
  <h1>Edit Details</h1>
  <form onsubmit="saveEditedDetails(); return false;">
    <label for="editedContent">Edit your details:</label>
    <textarea id="editedContent" rows="4" required></textarea>
    <button type="submit">Save Changes</button>
  </form>
</div>

<script>

  //Retrieve the content from sessionStorage
  var currentContent = sessionStorage.getItem('editContent');
  document.getElementById('editedContent').value = currentContent;

  function saveEditedDetails() {
    var editedContent = document.getElementById('editedContent').value;

    //update the content on the profile page
    var elementToUpdate.innerText = window.opener.document.querySelector('.editable [contenteditable="true"]');
    elementToUpdate.innerText = editedContent;

    //close the editing window
    window.close();
  }
</script>

</body>
</html>