<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>P2P Online Delivery Platform - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <ul class="banner">
            <li><img src="/images/logo_ld_png.png"></li>
            <li class="active"><a target="_parent" href="home">Home</a></li>
            <li><a target="_parent" href="about">About Us</a></li>
            <li><a target="_parent" href="order">Order</a></li>
            <li><a target="_parent" href="contact">Contact</a></li>
            <li class="right"><a target="_parent" href="login">Login</a></li>
            <li class="right"><a target="_parent" href="customerlogin">Sign up</a></li>
            <li class="right"><a target="_parent" href="restaurantlogin">Partner with us</a></li>
        </ul>


        <form class="locationInput">
            <img src="images/wix1.png" alt="" style="width:100%;">
            <input type="text" placeholder="Search.." id="search-input">
        </form>


        <script>
            const searchInput = document.getElementById('search-input');

            searchInput.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    performSearch();
                }
            });

            function performSearch() {

                var newPageUrl = "/order";

                // Data to be transferred
                var dataToTransfer = {
                    address: searchInput.value
                };
                // Append data as query parameters to the URL
                newPageUrl += '?' + new URLSearchParams(dataToTransfer).toString();

                window.location.href = newPageUrl;
            }
        </script>



    </body>
</html>
