<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>P2P Online Delivery Platform - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="banner">
      <div class="left">
        <p><img src="/images/logo_ld_png.png" /></p>
        <p><a target="_parent" href="home">Home</a></p>
        <p><a target="_parent" href="about">About Us</a></p>
        <p><a target="_parent" href="order">Order</a></p>
        <p><a target="_parent" href="contact">Contact</a></p>
      </div>
      <div class="right">
        <p><a target="_parent" href="profile" th:if="${loggedIn}">Profile</a></p>
        <p><a target="_parent" href="restaurantlogin" th:unless="${loggedIn}">Partner with us</a></p>
        <p><a target="_parent" href="login" th:unless="${loggedIn}">Login</a></p>
        <p><a target="_parent" href="customerlogin" th:unless="${loggedIn}">Sign up</a></p>
      </div>
    </div>

    <form class="locationInput">
      <img src="/images/wix1.png" alt="" style="width: 100%" />
      <input type="text" placeholder="Search.." id="search-input" />
    </form>

    <script>
      const searchInput = document.getElementById("search-input");

      searchInput.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
          event.preventDefault();
          performSearch();
        }
      });

      function performSearch() {
        var newPageUrl = "/order";

        // Data to be transferred
        var dataToTransfer = {
          address: searchInput.value,
        };

        var postCode = /^[A-Z]{1,2}[0-9R][0-9A-Z]? ?[0-9][A-Z]{2}$/i;

        if (postCode.test(searchInput.value)) {
          // Append data as query parameters to the URL
          newPageUrl += "?" + new URLSearchParams(dataToTransfer).toString();
          window.location.href = newPageUrl;
        } else {
          alert("Please enter a valid UK postal code.");
        }
      }
    </script>
  </body>
</html>
