<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>P2P Online Delivery Platform - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo_ld_white_png.png"/>
    <link rel="stylesheet" href="/css/home.css" />

  </head>
  <body>
    <div class="banner">
      <div class="left">
        <img src="/images/logo_ld_png.png"><a target="_parent" href="home"></a></img>
        <p><a target="_parent" href="home">Home</a></p>
        <p><a target="_parent" href="about">About Us</a></p>
        <p><a target="_parent" href="order">Order</a></p>
        <p><a target="_parent" href="contact">Contact</a></p>
      </div>
      <div class="right">
        <p><a target="_parent" href="profile" th:if="${loggedIn}">Profile</a></p>
        <p><a target="_parent" href="vendorsignup" th:unless="${loggedIn}">Partner with us</a></p>
        <p><a target="_parent" href="login" th:unless="${loggedIn}">Login</a></p>
        <p><a target="_parent" href="customerlogin" th:unless="${loggedIn}">Sign up</a></p>
      </div>
    </div>
    <div class="searchWrapper">
        <img src="/images/wix1.png" alt="paper_bag"/>
        <div class="swText">
            <p>A sustainable delivery service</p>
            <h2><a target="_parent" href="order">Order</a></h2>
        </div>
    </div>
    <div class="partners">
        <div class="placeholder">
            <img src="/images/loes-klinker-vLQY3beH2h0-unsplash.jpg" alt="partner-image"/>
            <p class="partner"><a target="_parent" href="vendorsignup">Partner with us</a></p>
        </div>
        <div class="placeholder">
            <img src="/images/viktor-forgacs-MWrI3Q1UVxM-unsplash.jpg"/>
            <p class="ride"><a target="_parent" href="driver-sign-up">Ride with us</a></p>
        </div>
    </div>
    <div class="footer">
        <h2>P2P Online Delivery System</h2>
        <p>info@fakemail.co.uk</p>
    </div>
    <script src="../static/JavaScript/home.js"/>
  </body>
</html>
