<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>P2P Online Delivery Platform - Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/logo_ld_white_png.png"/>
    <link rel="stylesheet" href="/css/menuPage.css" />
  </head>
<body>
    <div class="banner">
        <div class="left">
          <img src="/images/logo_ld_png.png"><a target="_parent" href="home"></a></img>
          <p><a href="/home">Home</a></p>
          <p><a href="/about">About Us</a></p>
          <p><a href="/order">Order</a></p>
          <p><a href="/contact">Contact</a></p>
        </div>
        <div class="right">
          <button id="back-button">Back</button>
          <button id="checkoutButton" th:if="${loggedIn}">Checkout</button>
          <p><a href="/login" th:unless="${loggedIn}">Login</a></p>
          <p><a href="/customerlogin" th:unless="${loggedIn}">Sign up</a></p>
        </div>
    </div>

<div class="header">
    <div id="vendor-info" th:attr="data-id=${id}"></div>
    <div class="name" th:text="${name}">Restaurant Name</div>
    <div id="rating" th:text="${rating}">Rating</div>
    <div id="description" th:text="${description}">Description</div>
</div>

<div class="grid-container"></div>

<div class="basket">
    <h2>Basket</h2>
    <div class="basket-items"></div>
    <h3 class="subtotal"></h3>
    <button class="login-button" th:unless="${loggedIn}" id="loginButton"><a href="/login">Please login before starting an order<a/></button>
    <button class="update-basket-button" th:if="${loggedIn}" id="updateBasketButton">Update Basket</button>
</div>
<script src="/JavaScript/menuPage.js"></script>
</body>
</html>