<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/css/menu-page.css}"/>
</head>
<body>

<ul class="banner">
    <li><img src="/images/logo_ld_png.png"></li>
    <li><a target="_parent" href="home">Home</a></li>
    <li><a target="_parent" href="about">About Us</a></li>
    <li><a target="_parent" href="order">Order</a></li>
    <li><a target="_parent" href="contact">Contact</a></li>
    <li id="menu-page-back" class="right"><a target="_parent">Back</a></li>
    <li class="right"><a target="_parent" href="profile" th:if="${loggedIn}">Profile</a></li>
    <li class="right"><a target="_parent" href="login" th:unless="${loggedIn}">Login</a></li>
    <li class="right"><a target="_parent" href="customerlogin" th:unless="${loggedIn}">Sign up</a></li>
    <li class="right"><a target="_parent" href="restaurantlogin" th:unless="${loggedIn}">Partner with us</a></li>
</ul>

<div style="margin: 8px 40px 8px 40px">
    <div class="header">
        <div class="name" th:text="${name}">Restaurant Name</div>
        <div class="rating" th:text="${rating}">4.5/5</div>
        <div id="vendor-info" th:attr="data-id=${id}"></div>
    </div>
    <div class="description" th:text="${description}"></div>
    <div id="user-info" th:attr="data-userId=${userId}" style="display: none;"></div>
</div>

<div class="grid-container"></div>

<div class="basket">
    <div class="basket-header">Basket</div>
    <div class="basket-items"></div>
    <button th:unless="${loggedIn}" class="login-button" id="loginButton">Please login before you proceed to checkout</button>
    <button class="update-basket-button" id="updateBasketContainer">Update to Basket</button>
    <button class="checkout-button" th:if="${loggedIn}" id="checkoutButton">Checkout</button>
</div>
<script src="/JavaScript/menu-page.js"></script>
</body>
</html>