<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/order.css" />
</head>
<body>
    <ul class="banner">
        <li><img src="images/logo_ld_png.png"></li>
        <li><a target="_parent" href="home">Home</a></li>
        <li><a target="_parent" href="about">About Us</a></li>
        <li class="active"><a target="_parent" href="order">Order</a></li>
        <li><a target="_parent" href="contact">Contact</a></li>
        <li class="right"><a target="_parent" href="login">Login</a></li>
        <li class="right"><a target="_parent" href="signup">Sign up</a></li>
        <li class="right"><a target="_parent" href="partner">Partner with us</a></li>
    </ul>

    <div class="locationInput">
        <input type="text" name="search" placeholder="Search..">
    </div>

    <div style="padding:20px;margin-top:160px;">
        <ul class="cuisineList">
            <li><button class="button">monday</button></li>
            <li><button class="button">tuesday</button></li>
            <li><button class="button">wednesday</button></li>
            <li><button class="button">thursday</button></li>
            <li><button class="button">friday</button></li>
            <li><button class="button">saturday</button></li>
        </ul>
    </div>

    <div class="grid-container"></div>

   <script src="/JavaScript/menus.js"></script>
</body>
</html>